# Ignore data/output directories
faces/
unedited/
outputs/

# Ignore media files globally
*.jpg
*.jpeg
*.webp
*.png
*.mp4
*.mov
*.heic

# Ignore Jupyter notebooks
*.ipynb

# Python artifacts
__pycache__/
*.pyc

# Virtualenvs
.venv/
env/
venv/

# Logs, caches, temp
*.log
*.tmp
